.sms_box {
    background: #fff;
    padding: 1rem;
}

.sms_box p.title_sms {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}
table.settings_table tr > th {
    width: 250px !important ;
    text-align: left;
    padding-bottom: 1rem;
}
table.settings_table tr  td {
    padding-bottom: 1rem;
}

table.settings_table span {
    font-style: italic;
}

.wc-sms-general input[type=text] {
    width: 100%;
}

table.settings_table select,input[type="text"],button {
    height: 40px;
    margin-bottom: 0;
    vertical-align: top;
}

table.settings_table input.contact_filed {
    width: 320px;
}

table.settings_table input.input_field,
table.settings_table textarea {
    width: 100%;
}

/* order tab */
.order_process {
    padding: 1rem;
    background: #fff;
}
.order_process > table{
    width: 50%;
    border: 2px solid #f0f0f1;
}

.order_process table tr th{
   
    border-bottom: 2px solid #f0f0f1;

}

.order_process table tr th,
.order_process table tr td {
    text-align: center;
    padding: 0.5rem;
    font-size: 16px;
}
.order_process table tr td {
   font-weight: 600;
}
.order_process table td:first-child,
.order_process table th:first-child{
    text-align: left;
}

table.general td input {
    width: 100%;
}

table.general {
    width: 70%;
}

table.sms-demo-crd th {
    text-align: left;
    font-size: 15px;
    padding: 8px 8px;
    background-color: #baaeae5e;
    width: 40%;
}
table.sms-demo-crd td {
    font-size: 15px;
    color: #000;
    background-color: #baaeae5e;
    padding: 8px 8px;
    width: 60%;
}
.red-note {
    color: #f30707;
    font-weight: 600;
}
.section p {
    font-size: 15px;
    color: #000;
}
